@charset "utf-8";
@import "contents.css";

/*
-------------------------------------------------
File Name : popup.css
Maker : UILAB(www.uilab.co.kr) / SuCheol, Hwang (ssangchee@uilab.co.kr)
Maker : UILAB(www.uilab.co.kr) / YuRyeon, Oh (somlove@uilab.co.kr)
Date : 2013
explanation : Popup Style Sheet
-------------------------------------------------
*/

#popWrap{background:#fff;}
#popup{padding:13px 14px; background:#9bd4db;}
#popBody{padding:15px 10px; background:#fff; border:5px solid #92c8ce;}
#popBody h1{display:inline-block; padding:0 0 6px 6px;}
#popBody h1 img{vertical-align:top;}

#popHeader{position:relative; z-index:1; padding:0 0 6px 6px;}
#popHeader strong img{margin:0 5px 1px 0; vertical-align:middle;}
#popHeader #btn_cal{display:inline-block; margin:0 2px 0 5px;}
#popHeader #btn_cal img{vertical-align:middle;}
#popHeader .popSubTxt{display:inline-block; margin-top:5px; color:#e8702f; font-weight:bold; font-size:13px; vertical-align:middle;}

#popCon{padding:30px 30px 25px; margin-bottom:10px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; text-align:center;}
#meritCon{padding:15px 0 30px 0; border-top:1px solid #e3e3e3; }
#phtCon{padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #e3e3e3; text-align:center;}
	.cTxt{padding:30px 0;}
#popCon p{margin-top:15px; line-height:16px; white-space:nowrap;}

#popCon1 .pop_lst{overflow:hidden; height:27px; padding:13px 0 0 20px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
#popCon1 .pop_lst li{float:left; width:300px; margin-right:90px; padding-left:6px; background:url('../images/contents/pop_dot.gif') no-repeat 0 7px; line-height:16px; white-space:nowrap;}
#popCon1 .pop_lst li.end{margin-right:0;}
#popCon1 .pop_lst li strong{display:inline-block; width:50px;}
#popCon1 .pop_lst li span{display:inline-block;}
#popCon1 .pop_lst li .tit{color:#5b7fb2;}	
#popCon1 .seatInfo{padding:30px 0 20px 0; margin-bottom:10px; border-bottom:1px solid #e3e3e3;}
#popCon1 .seatChioce{margin-bottom:25px; color:#888; font-size:11px; text-align:center;}
#popCon1 .seatChioce img{vertical-align:middle;}
#popCon1 .seatFloor{overflow:hidden; height:330px; padding-left:20px;}
#popCon1 .seatFloor .fTle{position:absolute; top:24px; left:0;}
#popCon1 .seatFloor .stage{position:relative; margin:0 0 7px 18px; padding:3px 0; background:#d4d4d4; text-align:center;}
#popCon1 .seatFloor .floor1{position:relative; float:left; width:343px; margin-right:37px;}
#popCon1 .seatFloor .floor2{position:relative; float:left; width:315px;}
#popCon1 .seatFloor .detailF{padding-left:38px;}
#popCon1 .seatFloor .seatRow{overflow:hidden; height:15px;}
#popCon1 .seatFloor .seatRow strong{float:left; height:11px; margin:4px 10px 0 0; _margin-right:9px;}
#popCon1 .seatFloor .seatRow ul{float:left; overflow:hidden; height:14px;}
#popCon1 .seatFloor .seatRow ul li{float:left; margin-left:1px; color:#fff; text-align:center; font-size:9px; font-family:tahoma;}
#popCon1 .seatFloor .seatRow ul li.mid{margin-right:18px;}
#popCon1 .seatFloor .seatRow ul li.noSeat{width:14px; height:14px; background:#ababad; font-size:12px;}
#popCon1 .seatFloor .seatRow ul li.complete{width:14px; height:11px; padding-top:3px; background:#cdc9c6;}
#popCon1 .seatFloor .seatRow ul li a{display:block; width:14px; height:11px; padding-top:3px; background:#999daf; color:#fff; text-align:center; font-size:9px; font-family:tahoma;}
#popCon1 .seatFloor .seatRow ul li a.click{background:#fe0002;}
#popCon1 .seatFloor .seatRow ul li a:hover{background:#fe0002;}
#popCon1 .seatFloor .seatRow .rowA li a{width:18px;}
#popCon1 .seatFloor .seatRow .rowA li.mid a , #popCon1 .seatFloor .seatRow .rowA li.mid2 a{width:20px;}
#popCon1 .seatFloor .seatRow.rowH{margin-top:11px;}

#popBtn{text-align:center;}
#popBtn1{text-align:right;}

.mapPop{width:700px;}
#popBurial{padding:20px 0 10px 0; margin-bottom:10px; border:2px solid #cfcfcf;}
#popBurial .totalMap{margin:0 auto; text-align:center;}

#popBurial .detailMap{overflow:hidden; height:355px; margin-top:10px;}
#popBurial .detailMap strong{display:block; padding:12px 0 10px 0; background:#5b7fb2; color:#fff; font-size:14px; text-align:center;}
#popBurial .detailMap .mapL{float:left; width:324px; border-right:1px solid #e3e3e3;}
#popBurial .detailMap .mapL .sMap{width:280px; height:290px; padding:15px 22px;}
#popBurial .detailMap .mapR{float:right; width:313px;}
#popBurial .detailMap .mapR p{padding:15px; line-height:20px;}
#popBurial .mapTxt strong{display:block; padding:12px 0 10px 0; background:#5b7fb2; color:#fff; font-size:14px; text-align:center;}
#popBurial .mapTxt ul{overflow:hidden; height:100%; padding:12px 0 0 11px;}
#popBurial .mapTxt ul li{float:left; width:300px; padding-left:11px; background:url('../images/contents/dot_gray.gif') no-repeat 0 6px; color:#777; line-height:20px;}

/* 달력 */
#cal{display:none; position:absolute; top:29px; left:190px; width:147px; padding:14px 10px 9px; background:#fff; border:1px solid #919191;}
#cal .monTle{display:block; margin-bottom:10px; color:#000;}
#cal .btn_monView{position:absolute; top:14px; right:11px;}
#cal .monTb{width:147px; margin:0; border-top:1px solid #c1c1c1; border-bottom:1px solid #e2e2e2; border-collapse:collapse;} 
#cal .monTb th{width:20px; padding:4px 0 3px; background:#c8c8c8; border:none; border-left:1px solid #c1c1c1; color:#fff; text-align:center; font-weight:normal; line-height:1; font-size:11px;} 
#cal .monTb th.end{border-right:1px solid #c1c1c1;}
#cal .monTb td{width:20px; padding:0; border:none; border-top:1px solid #e2e2e2; border-left:1px solid #e2e2e2; line-height:1; text-align:center;}
#cal .monTb td.end{border-right:1px solid #e2e2e2;}
#cal .monTb td a{display:block; padding:5px 0 4px 0; color:#a3a3a3; font-size:11px;}
#cal .monTb td a.day{color:#d7a0a3;}
#cal .monTb td a:hover{background:#8fc3f2; color:#fff; font-weight:bold; letter-spacing:-1px;}

/* 사이버참배 */
#popWorship{width:900px; padding-bottom:22px; background:url('../images/contents/popBg_wsBottom.gif') no-repeat 0 100%;}
#popWsBody{position:relative; width:860px; padding:15px 20px 0; background:url('../images/contents/popBg_wsTop.gif') no-repeat;}
#wsClose{position:absolute; top:11px; right:20px;}

#wsTab{overflow:hidden; height:45px;}
#wsTab li{float:left;}
#wsContainer{padding:25px 30px 30px; background:#f3f0e7;}
#wsHeader{overflow:hidden; height:32px; margin-bottom:16px;}
#wsHeader .wsTle{float:left; width:129px; margin-right:14px;}
#wsHeader p{float:left;}
#wsContents{overflow:hidden; height:415px;}
#wsContents .wsL{float:left; width:365px; margin-right:20px;}
#wsContents .wsR{float:left; width:415px;}
#wsContents .wsR .wsRcon1{overflow:hidden; height:255px; margin-bottom:47px;}
#wsContents .wsR .wsRcon1 .con1{float:left; width:160px; margin-right:19px;}
#wsContents .wsR .wsRcon1 .con2{float:left; width:235px;}

#wsContents .wsL .picArea{position:relative; width:353px; height:328px; padding:6px; margin-bottom:9px; background:#fff;}
#wsContents .wsL .picArea .paPic{width:353px; height:328px; vertical-align:top;}
#wsContents .wsL .picArea p{position:absolute; left:6px; width:353px; background:#000; filter:alpha(opacity=70); opacity:0.7; color:#fff; text-align:center; font-weight:bold;}
#wsContents .wsL .picArea p.txt1{top:6px; padding:8px 0 6px 0;}
#wsContents .wsL .picArea p.txt2{top:309px; padding:6px 0 8px 0;}
#wsContents .wsL .picArea .tabImg img{display:none; position:absolute; z-index:5; bottom:10px;}
#wsContents .wsL .picArea .ti1{left:10px;}
#wsContents .wsL .picArea .ti2{left:220px;}
#wsContents .wsL .picArea .ti3{left:145px;}
#wsContents .wsL .picArea .smg{display:none; position:absolute; left:145px; z-index:10; bottom:70px; width: 60px; height: 30px;}
#wsContents .wsL .picArea .cTxt{display:inline-block; position:absolute; z-index:1; padding:5px 10px; background:#000; font-family:궁서; font-size:14px; color:#fff; font-weight:bold; line-height:1.3; text-align:center;}
#wsContents .wsL .picArea .cTxt em{display:block; font-size:22px;}
#wsContents .wsL .picArea .cTxt2{display:inline-block; position:absolute; z-index:1; padding:5px 10px; font-family:궁서; font-size:12px; color:#000; font-weight:bold; line-height:1.3; text-align:center;}
#wsContents .wsL .picArea .cTxt2 em{display:block; font-size:20px;}
#wsContents .wsL .picArea .cTxt3{display:inline-block; position:absolute; z-index:1; padding:5px 10px; font-family:궁서; font-size:12px; color:#fff; font-weight:bold; line-height:1.3; text-align:center;}
#wsContents .wsL .picArea .cTxt3 em{display:block; font-size:20px;}
#wsContents .wsL .picArea .cTxt1_1{top:165px; left:60px;}
#wsContents .wsL .picArea .cTxt1_2{top:165px; left:225px;}
#wsContents .wsL .picArea .cTxt1_3{top:222px; left:225px;}
#wsContents .wsL .picArea .cTxt2_1{top:170px; left:140px;}
#wsContents .wsL .picArea .cTxt3_1{top:20px; left:283px; width:15px;}
#wsContents .wsL .picArea .cTxt3_2{top:100px; left:260px; width:15px;}
#wsContents .wsL .picArea .cTxt3_3{top:100px; left:310px; width:15px;}
#wsContents .wsL .picArea .cTxt4_1{top:40px; left:160px; width:15px;}
#wsContents .wsL .picArea .cTxt4_2{top:120px; left:135px; width:15px;}
#wsContents .wsL .picArea .cTxt4_3{top:120px; left:185px; width:15px;}
#wsContents .wsL .picArea .cTxt5_1{top:50px; left:150px; width:15px;}
#wsContents .wsL .picArea .cTxt5_2{top:70px; left:80px; width:15px;}
#wsContents .wsL .picArea .cTxt5_3{top:70px; left:220px; width:15px;}
#wsContents .wsL .picArea .topTxt1{position:absolute; top:10px; left:10px; font-size:12px; color:#000; font-weight:bold; line-height:1.3;}
#wsContents .wsL .picArea .topTxt1 em{display:inline-block; padding:5px 10px; background:#000; color:#fff; vertical-align:middle;}
#wsContents .wsL .picArea .topTxt2{position:absolute; top:10px; left:10px; font-size:12px; color:#fff; font-weight:bold; line-height:1.3;}

#wsContents .wsL .subTab{position:relative; width:365px; height:66px; background:#dbd5c4;}
#wsContents .wsL .subTab strong{position:absolute; top:0; width:91px; height:32px;} 
#wsContents .wsL .subTab strong.sT1{left:0; width:92px;}
#wsContents .wsL .subTab strong.sT2{left:92px;}
#wsContents .wsL .subTab strong.sT3{left:183px;}
#wsContents .wsL .subTab strong.sT4{left:274px;}
#wsContents .wsL .subTab ul{display:none; position:absolute; top:32px; left:20px; width:365px; height:34px; *zoom:1;}
#wsContents .wsL .subTab ul:after{display:block; content:""; clear:both;}
#wsContents .wsL .subTab ul.stOn{display:block;}
#wsContents .wsL .subTab ul.st_lst2{left:117px;}
#wsContents .wsL .subTab ul.st_lst3{left:208px;}
#wsContents .wsL .subTab ul.st_lst4{left:294px;}
#wsContents .wsL .subTab ul li{float:left; padding-top:1px; margin-right:10px;} 
#wsContents .wsL .subTab ul li img{vertical-align:top;} 
#wsContents .wsL .subTab ul li .bigPic{position:absolute; top:-223px;}
#wsContents .wsL .subTab.noTxt ul li .bigPic{top:-195px;}
#wsContents .wsL .subTab ul.st_lst1 .bigPic{left:-7px; width:119px; height:150px;}
#wsContents .wsL .subTab ul.st_lst2 .bigPic{left:15px; width:134px; height:150px;}
#wsContents .wsL .subTab ul.st_lst3 .bigPic{left:69px; width:68px; height:150px;}

#wsContents .wsR .wsRcon1 .con1 .imgBox{display:block; padding:4px; margin-bottom:8px; background:#fff;}
#wsContents .wsR .wsRcon1 .con1 .imgBox img{vertical-align:top; width:152px; height:175px;}
#wsContents .wsR .wsRcon1 .con1 ul{overflow:hidden; height:64px;}
#wsContents .wsR .wsRcon1 .con1 ul li{float:left; margin:7px 1px 0 0;}
#wsContents .wsR .wsRcon1 .con1 ul li img{display:block;}
#wsContents .wsR .wsRcon1 .con2 dl{overflow:hidden; height:100%; border-top:2px solid #d4cebe; border-bottom:2px solid #d4cebe;}
#wsContents .wsR .wsRcon1 .con2 dl dt, #wsContents .wsR .wsRcon1 .con2 dl dd{float:left; width:97px; height:19px; padding:8px 0 0 20px;}
#wsContents .wsR .wsRcon1 .con2 dl dt.end, #wsContents .wsR .wsRcon1 .con2 dl dd.end{border-bottom:none;}
#wsContents .wsR .wsRcon1 .con2 dl dt{font-weight:bold; background:#e9e5d9; border-bottom:1px solid #fff;}
#wsContents .wsR .wsRcon1 .con2 dl dd{background:#fff; border-bottom:1px solid #e9e5d9; color:#777;}
#wsContents .wsR .wsRcon2{padding-left:149px; min-height:107px; background:url('../images/contents/popSubBg.gif') no-repeat 0 2px;}
* html #wsContents .wsR .wsRcon2{height:107px;}
#wsContents .wsR .wsRcon2 .tleArea{overflow:hidden; height:15px; margin-bottom:8px;}
#wsContents .wsR .wsRcon2 .tleArea strong{float:left;}
#wsContents .wsR .wsRcon2 .tleArea strong img{vertical-align:top;}
#wsContents .wsR .wsRcon2 .tleArea span{float:right; padding-top:2px; font-size:11px;}
#wsContents .wsR .wsRcon2 .tleArea span em{color:#e8702f; font-weight:bold;}
#wsContents .wsR .wsRcon2 ul{margin-top:13px;} 
#wsContents .wsR .wsRcon2 ul li{margin-top:5px; padding:0 0 5px 6px; background:url('../images/contents/pop_dot.gif') no-repeat 0 4px; border-bottom:1px dashed #d0d0d0;}

#wsContents .wsR .wsRcon1 .con2_1{float:left; width:186px; height:205px; padding:24px; background:#fff url('../images/contents/bg_con2.gif') no-repeat 4px 4px ;}
#wsContents .wsR .wsRcon1 .con2_1 .txtWrap{height:205px; overflow-y:scroll;}
#wsContents .wsR .wsRcon1 .con2_1 p{line-height:21px;}

#popIpCon{padding:134px 0 166px 0; background:#f3f0e7;}
.ipBox{position:relative; width:362px; padding:13px 10px 0; margin:0 auto; background:#fff; border:4px solid #dbd5c4;}
.ipBox .ipTle{height:24px; padding:4px 0 0 4px;} 
.ipBox strong{position:absolute; top:13px;}
.ipBox strong.ip1{right:141px;}
.ipBox strong.ip2{right:10px;}
.ipBox .ipCon{display:none; position:relative; padding:17px 0 12px 25px; border-top:1px solid #cecece;}
.ipBox .ipCon.ipOn{display:block; padding-bottom: 51px;}
.ipBox .ipCon .ipTxt{padding:23px 0 29px 0; color:#777; line-height:16px;}
.ipBox .ipCon .ipTxt em{font-weight:bold;}
.ipBox .ipCon .btn_ip{position:absolute; top:41px; right:25px;}
.ipBox .ipCon .loginTxt{margin-bottom:20px; color:#777; line-height:16px;}
.ipBox .ipCon .login{position:relative; padding-left:20px;}
.ipBox .ipCon .login label{width:47px; padding-left:8px; background:url('../images/contents/pop_dot2.gif') no-repeat 0 4px;}
.ipBox .ipCon .login input{margin-bottom:3px;}
.ipBox .ipCon .login .btn_login{position:absolute; top:0; right:44px;}
.ipBox .ipCon .login .forgetId{display:inline-block; margin:7px 0 0 59px;}

.idBox{position:relative; width:362px; padding:13px 10px 0; margin:0 auto; background:#fff; border:4px solid #dbd5c4;}
.idBox .ipTle{height:24px; padding:4px 0 0 4px;} 
.idBox strong{position:absolute; top:13px;}
.idBox strong.id1{right:111px;}
.idBox strong.id2{right:10px;}
.idBox .idCon{display:none; position:relative; padding:10px 10px 13px 0; border-top:1px solid #cecece;}
.idBox .idCon.idOn{display:block; padding-bottom: 29px}
.idBox .idCon .idTxt{padding-left:15px; font-size:11px;}
.idBox .idCon .login{padding:20px 0 0 57px;}
.idBox .idCon .login div{margin-bottom:3px;}
.idBox .idCon .login label{width:47px; padding-left:8px; background:url('../images/contents/pop_dot2.gif') no-repeat 0 4px;}
.idBox .idCon .login input{*margin:-1px 0;}
.idBox .idCon .login .btn_login{position:absolute; top:54px; left:252px;}
.idBox .idCon .tip{padding:10px 0 15px 0; font-size:11px; text-align:center; line-height:16px;}
.idBox .idCon .tip2{padding-left:15px; text-align:left;}

.wsTle2{margin-bottom:9px;}
.noteTxt{padding-left:10px; color:#888; font-size:11px; font-weight:normal;}
.popNoteTxt{padding-left:10px; background:none; color:#888; font-size:11px; font-weight:normal;}
#fileCon{position:relative; padding:15px 15px 23px; background:#fff;}
.tb1{width:100%; margin:5px 0 10px 0; border-top:2px #b1d3d6 solid; border-bottom:1px solid #c2c2c2;}
.tb1 tbody th{width:160px; padding:10px 0 7px 0; background:#f9f9f9; border-bottom:1px #e7e7e7 solid; border-right:1px #e7e7e7 solid; line-height:16px;}
.tb1 tbody th p{padding-left:38px; teXt-align:left;}
.tb1 tbody th label{display:block; padding-left:38px; text-align:left;}
.tb1 tbody th em{padding-left:15px; background:url('../images/contents/dot_orange.gif') no-repeat 0 3px;}
.tb1 tbody td{height:14px; padding:10px 0 7px 0; border-bottom:1px #e7e7e7 solid; border-right:1px #e7e7e7 solid; text-align:center; line-height:16px; color:#777;}
.tb1 tbody td p , .tb1 tbody td div{padding:0 0 0 20px; text-align:left;}
.tb1 .end{border-right:none;}
.tb1 .btEnd th , .tb1 .btEnd td{border-bottom:none;}
.tb1 .addTxt{display:inline-block; margin-left:5px; color:#888; font-size:11px;}

.qnaCon{overflow-y:scroll; height:393px;}
.qnaTb{width:738px; border-top:2px #b1d3d6 solid; border-bottom:1px solid #c2c2c2;}
.qnaTb th{padding:8px 0 5px 0;}
.qnaTb th p{padding-left:30px; background:url('../images/contents/ico_Q.gif') no-repeat 10px 0; font-weight:normal; text-align:left;}
.qnaTb .qnaQ th, .qnaTb .qnaQ td{border-bottom:1px solid #e7e7e7; line-height:18px;}
.qnaTb .qnaQ td{color:#999; font-size:11px;}
.qnaTb .btEnd th, .qnaTb .btEnd td{border-bottom:none;}
.qnaTb .qnaA{display:none;}
.qnaTb .qnaA td{width:738px; border-bottom:1px solid #e7e7e7;} 
.qnaTb .qnaA td div{padding:15px 15px 20px 10px; background:#fffae1 url('../images/contents/qna_line.gif') repeat-x; color:#888; line-height:18px;}
.qnaTb .qnaA td div strong{display:block; padding:0 0 20px 20px; background:url('../images/contents/ico_A.gif') no-repeat 0 0; font-weight:normal;}
.qnaTb .qnaA td div p{padding-left:20px;}

#picCon{position:relative; width:770px; padding:15px 15px 25px; background:#fff;}
.pic_lst{overflow:hidden; width:680px; height:100%; padding:20px 0 0 90px; margin-bottom:10px; border-top:2px solid #b1d3d6; border-bottom:1px solid #c2c2c2;}
.pic_lst li{float:left; padding:10px 5px 27px 0; text-align:center;}
.pic_lst li a{display:block;}
.pic_lst li a img{width:113px; height:113px; border:1px solid #dbdbdb; vertical-align:top;}
.pic_lst.login li{padding:0 3px 18px 0;}
.pic_lst.login li a{margin-bottom:5px;}
.pic_lst.loing li a img{width:98px; height:98px; border:1px solid #dbdbdb; vertical-align:top;}

#wsContents2{position:relative; padding:15px 15px 20px; background:#fff;}
#wsContents2 .lstWrap{height:290px; margin:5px 0 10px 0; overflow-y:scroll;}
#wsContents2 .story_lst{width:738px;}
#wsContents2 .layerPop.lp2{top:140px; left:256px;}

#idInfo{position:relative; padding:86px 0 193px 142px; background:#fff;}
#idInfo .tb1{width:515px;}
#idInfo .btn_id{padding-left:160px;}

/* layer pop */
#lyPop{position:absolute; top:207px; left:259px; width:343px; height:127px; padding:48px 28px 14px 20px; background:url('../images/contents/bg_poplayer.png') no-repeat; text-align:center;}
#lyPop .lyTxt{padding-bottom:35px; margin-bottom:10px; border-bottom:1px solid #e3e3e3; line-height:19px;}
#lyPop .lyTxt strong{display:block; color:#3468c8;}

/* 둘러보기 */
#popTour{position:relative; width:980px; height:548px; background:url('../images/contents/bg_tour.gif') no-repeat;}
#popTour #close{position:absolute; top:11px; right:20px;}

#tourHeader{overflow:hidden; height:39px; padding:20px 0 0 28px;}
#tourHeader h1{float:left; margin-right:66px;}
#tourHeader h2{float:left; padding-top:14px;}

#tourContainer{overflow:hidden; height:435px; width:930px; margin:0 auto; padding:18px 0 25px 0;}
#tourContainer #tourNavi{float:left; width:154px; margin-right:5px; padding:48px 0 0 15px;}
#tourContainer #tourCon{float:left; position:relative; width:756px:}

#tourNavi li{margin-bottom:10px; font-size:1%; line-height:1;}
#tourNavi li a{height:13px;}
#tourNavi li ul{display:none; padding:9px 0 0 1px;}
#tourNavi li ul.lOn{display:block;}
#tourNavi li ul li{margin-bottom:0; padding-bottom:6px;}
#tourNavi li ul li a{height:11px;}
#tourNavi a{display:block; overflow:hidden; background:url('../images/contents/tourSpr.gif') no-repeat; text-indent:-9999px;}
#tourNavi a#lnb1{width:48px; background-position:0 0;}
#tourNavi a#lnb2{width:60px; background-position:0 -13px;}
#tourNavi a#lnb3{width:70px; background-position:0 -27px;}
#tourNavi a#lnb4{width:76px; background-position:0 -40px;}
#tourNavi a#lnb5{width:34px; background-position:0 -54px;}
#tourNavi a#lnb6{width:60px; background-position:0 -68px;}
#tourNavi a#lnb1_1{width:62px; background-position:-85px 0;}
#tourNavi a#lnb1_1:hover, #tourNavi a#lnb1_1.tOn{background-position:-165px 0;}
#tourNavi a#lnb1_2{width:80px; background-position:-85px -17px;}
#tourNavi a#lnb1_2:hover, #tourNavi a#lnb1_2.tOn{background-position:-165px -17px;}
#tourNavi a#lnb1_3{width:61px; background-position:-85px -34px;}
#tourNavi a#lnb1_3:hover, #tourNavi a#lnb1_3.tOn{background-position:-165px -34px;}
#tourNavi a#lnb1_4{width:62px; background-position:-85px -51px;}
#tourNavi a#lnb1_4:hover, #tourNavi a#lnb1_4.tOn{background-position:-165px -51px;}
#tourNavi a#lnb1_5{width:70px; background-position:-85px -68px;}
#tourNavi a#lnb1_5:hover, #tourNavi a#lnb1_5.tOn{background-position:-165px -68px;}
#tourNavi a#lnb1_6{width:42px; background-position:-85px -85px;}
#tourNavi a#lnb1_6:hover, #tourNavi a#lnb1_6.tOn{background-position:-165px -85px;}
#tourNavi a#lnb1_7{width:42px; background-position:-85px -102px;}
#tourNavi a#lnb1_7:hover, #tourNavi a#lnb1_7.tOn{background-position:-165px -102px;}
#tourNavi a#lnb1_8{width:52px; background-position:-85px -119px;}
#tourNavi a#lnb1_8:hover, #tourNavi a#lnb1_8.tOn{background-position:-165px -119px;}
#tourNavi a#lnb1_9{width:52px; background-position:-85px -136px;}
#tourNavi a#lnb1_9:hover, #tourNavi a#lnb1_9.tOn{background-position:-165px -136px;}
#tourNavi a#lnb2_1{width:73px; background-position:-260px 0;}
#tourNavi a#lnb2_1:hover, #tourNavi a#lnb2_1.tOn{background-position:-260px -34px;}
#tourNavi a#lnb2_2{width:73px; background-position:-260px -17px;}
#tourNavi a#lnb2_2:hover, #tourNavi a#lnb2_2.tOn{background-position:-260px -51px;}
#tourNavi a#lnb3_1{width:66px; background-position:0 -150px;}
#tourNavi a#lnb3_1:hover, #tourNavi a#lnb3_1.tOn{background-position:-165px -150px;}
#tourNavi a#lnb3_2{width:99px; background-position:0 -167px;}
#tourNavi a#lnb3_2:hover, #tourNavi a#lnb3_2.tOn{background-position:-165px -167px;}
#tourNavi a#lnb3_3{width:118px; background-position:0 -184px;}
#tourNavi a#lnb3_3:hover, #tourNavi a#lnb3_3.tOn{background-position:-165px -184px;}
#tourNavi a#lnb3_4{width:136px; background-position:0 -201px;}
#tourNavi a#lnb3_4:hover, #tourNavi a#lnb3_4.tOn{background-position:-165px -201px;}
#tourNavi a#lnb3_5{width:33px; background-position:0 -218px;}
#tourNavi a#lnb3_5:hover, #tourNavi a#lnb3_5.tOn{background-position:-165px -218px;}
#tourNavi a#lnb3_6{width:53px; background-position:0 -235px;}
#tourNavi a#lnb3_6:hover, #tourNavi a#lnb3_6.tOn{background-position:-165px -235px;}
#tourNavi a#lnb3_7{width:79px; background-position:0 -252px;}
#tourNavi a#lnb3_7:hover, #tourNavi a#lnb3_7.tOn{background-position:-165px -252px;}
#tourNavi a#lnb3_8{width:89px; background-position:0 -269px;}
#tourNavi a#lnb3_8:hover, #tourNavi a#lnb3_8.tOn{background-position:-165px -269px;}
#tourNavi a#lnb3_9{width:34px; background-position:0 -286px;}
#tourNavi a#lnb3_9:hover, #tourNavi a#lnb3_9.tOn{background-position:-165px -286px;}
#tourNavi a#lnb3_10{width:53px; background-position:0 -303px;}
#tourNavi a#lnb3_10:hover, #tourNavi a#lnb3_10.tOn{background-position:-165px -303px;}
#tourNavi a#lnb3_11{width:53px; background-position:0 -320px;}
#tourNavi a#lnb3_11:hover, #tourNavi a#lnb3_11.tOn{background-position:-165px -320px;}
#tourNavi a#lnb3_12{width:34px; background-position:0 -337px;}
#tourNavi a#lnb3_12:hover, #tourNavi a#lnb3_12.tOn{background-position:-165px -337px;}
#tourNavi a#lnb3_13{width:104px; background-position:0 -354px;}
#tourNavi a#lnb3_13:hover, #tourNavi a#lnb3_13.tOn{background-position:-165px -354px;}
#tourNavi a#lnb4_1{width:52px; background-position:-310px -150px;}
#tourNavi a#lnb4_1:hover, #tourNavi a#lnb4_1.tOn{background-position:-310px -240px;}
#tourNavi a#lnb4_2{height:12px; width:86px; background-position:-310px -167px;}
#tourNavi a#lnb4_2:hover, #tourNavi a#lnb4_2.tOn{background-position:-310px -257px;}
#tourNavi a#lnb4_3{height:12px; width:127px; background-position:-310px -184px;}
#tourNavi a#lnb4_3:hover, #tourNavi a#lnb4_3.tOn{background-position:-310px -274px;}
#tourNavi a#lnb4_4{width:55px; background-position:-310px -201px;}
#tourNavi a#lnb4_4:hover, #tourNavi a#lnb4_4.tOn{background-position:-310px -291px;}
#tourNavi a#lnb4_5{height:12px; width:49px; background-position:-310px -218px;}
#tourNavi a#lnb4_5:hover, #tourNavi a#lnb4_5.tOn{background-position:-310px -308px;}

#tourTab{position:absolute; top:0; right:0; overflow:hidden; height:28px;} 
#tourTab li{float:left; width:110px; margin-left:1px;} 

#tourView{width:756px; padding-top:28px;}
#tourView .viewPic{height:418px;}
#tourView .viewPic h3, #tourView .viewPic p, #tourView .viewPic ol , #tourView .viewPic ul{visibility:hidden;}
	.pic1{background:url('../images/contents/tour1_1.gif') no-repeat;}
	.pic2{background:url('../images/contents/tour1_2.gif') no-repeat;}
	.pic3{background:url('../images/contents/tour1_3.gif') no-repeat;}
	.pic4{background:url('../images/contents/tour1_4.gif') no-repeat;}
	.pic5{background:url('../images/contents/tour1_5.gif') no-repeat;}
	.pic6{background:url('../images/contents/tour1_6.gif') no-repeat;}
	.pic7{background:url('../images/contents/tour1_7.gif') no-repeat;}
	.pic8{background:url('../images/contents/tour1_8.gif') no-repeat;}
	.pic9{background:url('../images/contents/tour1_9.gif') no-repeat;}
	.pic10{background:url('../images/contents/tour2_1.gif') no-repeat;}
	.pic11{background:url('../images/contents/tour2_2.gif') no-repeat;}
	.pic12{background:url('../images/contents/tour3_1.gif') no-repeat;}
	.pic13{background:url('../images/contents/tour3_2.gif') no-repeat;}
	.pic14{background:url('../images/contents/tour3_3.gif') no-repeat;}
	.pic15{background:url('../images/contents/tour3_4.gif') no-repeat;}
	.pic16{background:url('../images/contents/tour3_5.gif') no-repeat;}
	.pic17{background:url('../images/contents/tour3_6.gif') no-repeat;}
	.pic18{background:url('../images/contents/tour3_7.gif') no-repeat;}
	.pic19{background:url('../images/contents/tour3_8.gif') no-repeat;}
	.pic20{background:url('../images/contents/tour3_9.gif') no-repeat;}
	.pic21{background:url('../images/contents/tour3_10.gif') no-repeat;}
	.pic22{background:url('../images/contents/tour3_11.gif') no-repeat;}
	.pic23{background:url('../images/contents/tour3_12.gif') no-repeat;}
	.pic24{background:url('../images/contents/tour3_13.gif') no-repeat;}
	.pic25{background:url('../images/contents/tour4_1.gif') no-repeat;}
	.pic26{background:url('../images/contents/tour4_2.gif') no-repeat;}
	.pic27{background:url('../images/contents/tour4_3.gif') no-repeat;}
	.pic28{background:url('../images/contents/tour4_4.gif') no-repeat;}
	.pic29{background:url('../images/contents/tour4_5.gif') no-repeat;}
	.pic30{background:url('../images/contents/tour5.gif') no-repeat;}
	.pic31{background:url('../images/contents/tour6.gif') no-repeat;}
	
#viewCon{overflow:hidden; height:404px; padding:14px 0 0 25px; background:#fff;}
#viewCon .picView{float:left; width:309px; margin-right:18px;}
#viewCon .picStory{float:left; width:404px; height:402px; overflow-y:scroll;}

.picView .bigPic{width:300px; height:170px; margin-bottom:7px; background:#c7c7c7; text-align:center;}
.picView .bigPic img{vertical-align:top; height:170px;}
.picView .picSlide{overflow:hidden; position:relative; width:300px;}
.picView .picSlide .btn_prev{position:absolute; top:13px; left:0;}
.picView .picSlide .btn_next{position:absolute; top:13px; right:0;}
.picView .picSlide .slideIn{position:relative; overflow:hidden; width:300px; height:56px;}
.picView .picSlide ul{position:absolute; top:0; left:0; width:330px;}
.picView .picSlide li{float:left; width:90px; height:56px; margin-right:15px; background:#c7c7c7;}
.picView .picSlide li img{display:block; width:90px; height:56px;}

.picView .vodArea{padding:10px 0 0 0;}
.picView .vod{width:300px; height:155px; background:url('../images/contents/pT_bgVod.gif') no-repeat;}

.picStory h3{color:#5f6678; font-size:14px; line-height:18px;}
.picStory p{width:375px; margin:5px 0 20px 0; color:#5f6678; line-height:18px;}
.picStory .storyTle{margin:13px 0 10px 0; color:#5f6678;}
.picStory .pSt_lst{color:#5f6678; line-height:18px;}
.picStory .pSt_lst ul{padding:0 0 0 8px;}

/* 주요묘역시설물 */
.popMerit{width:650px; margin-bottom:7px; padding-bottom:169px; background:url('../images/contents/pop_meritBottom.gif') no-repeat 0 100%;}
.popMeritIn{width:586px; height:360px; padding:43px 0 0 84px; background:url('../images/contents/pop_meritTop.gif') no-repeat 0 0; overflow-y:scroll;}
.popMeritIn strong{color:#777;}
.popMeritIn ul li{line-height:20px;}
.meritTle{margin-bottom:20px; color:#444; font-size:14px;}
.meritTle span{margin-left:5px; color:#777; font-size:11px; font-weight:normal;}
.meritSub{display:block; margin:20px 0 15px 0;}
.btn_merit{padding-right:13px; text-align:right;}


